.pending{
    color: gray;
}
.correct{
    color: green;
}
.incorrect{
    color:red;
    font-weight: bold;
}

h1{
    color: #55b3b1;
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

